---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /pytania/
Disallow: /full/
Disallow: /epub
Disallow: /pdf

Host: {{ siteConfig.translation.url }}/

Sitemap: {{ siteConfig.translation.url }}/sitemap.xml