---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---

{%- set url = siteConfig.translation.url -%}

<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ url }}/</loc>
  </url>
  <url>
    <loc>{{ url }}/wstep/</loc>
  </url>
{%- for questionSlug in orderedQuestionSlugs %}
{%- set question = collections.questionDataObject[questionSlug].data %}
  <url>
    <loc>{{ url }}/{{ question.slug }}/</loc>
  </url>{% endfor %}
</urlset>
