body > nav {
  --nav-link-spacing-vertical: 1rem;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--nav-background-color);
  box-shadow: 0 1px 0 var(--nav-border-color);
  overflow: hidden;

  ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    &:first-of-type {
      margin-left: calc(var(--spacing) * -1);
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--h1-color);

        @media screen and (max-width: 800px) {
          strong {
            display: none;
          }
        }
      }
    }

    li:nth-of-type(1) a strong {
      padding-left: 1rem;
    }
  }

  ul:nth-of-type(2) li {
    display: flex;
    align-items: center;
    margin: 0 0 0 1rem;
    height: 100%;

    a {
      padding-left: 1rem;
      padding-right: 1rem;

      span {
        padding-left: 0.25rem;
      }
    }
  }
}
