body > main {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

article {
  & > header {
    margin-bottom: 2rem;
  }

  & > footer {
    margin-top: 2rem;
  }
}

article.full_content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 4rem;

  h1 {
    margin-bottom: 1rem;
  }
}

.theme-switcher {
  height: 100%;
  padding: 0.5rem 1rem;
}
