<!doctype html>
<html lang="pl" data-theme="light">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- if title -%}{{ title }} - {% endif -%}{{ siteConfig.meta.title }}</title>
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="me" href="https://hachyderm.io/@lukem" title="@lukem@hachyderm.io">
    {% include "partials/head/canonical.njk" %}
  </head>
  <body>
    <a class="skip-to-content-link" href="#content">
      Przeskocz do treści
    </a>

    {% include "partials/header.njk" %}

    {{ content|safe }}

    {% include "partials/footer.njk" %}
    <script src="/js/whatinput.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
