<!doctype html>
<html lang="pl" data-theme="light">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- if title -%}{{ title }} - {% endif -%}{{ siteConfig.meta.title }}</title>
  </head>
  <body>
    {% include "partials/header.njk" %}

    {{ content|safe }}

    {% include "partials/footer.njk" %}
    <script src="/js/scripts.js"></script>
  </body>
</html>
