---
layout: base
title: Cała treść
---

<main class="content">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </div>
    </div>
  </div>
</main>