---
title: Pytanie
layout: base
date: git Last Modified
---

<main class="container">
  <article>
    <header>
      <h1>{{ title }}</h1>
    </header>
    {{ content | safe }}
    <footer>
      {% include "partials/navigation.njk" %}

      <div class="question-footer">
        <p>Ostatnio zmodyfikowano: {{ page.date|readableDate }}</p>
        <p><a href="#">Zaproponuj zmianę</a>
      </div>
    </footer>
  </article>
</main>