---
title: Pytanie
layout: base
---

<main class="content">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>PYTANIE</h1>
        <h2>{{ title }}</h2>
        {{ content | safe }}
      </div>
    </div>
  </div>
</main>