---
permalink: /czytaj/czytaj-pdf.html
---

{%- set intro = collections.questionDataObject["wstep"] -%}

<html dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Niezbyt zwięzłe wprowadzenie do Mastodona</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

    body, body *, p, li {
      font-family: "Lato", Arial, Verdana, Helvetica, sans-serif;
      color: #000;
    }

    b, strong, h1, h2, h3, h4, h5 {
      font-family: "Lato", Arial, Verdana, Helvetica, sans-serif;
      font-weight: 700;
    }

    h1 {
      font-size: 36px;
      margin-top: 42px;
      margin-bottom: 42px;
      font-weight: bold;
    }

    h2, h3 {
      font-weight: bolder;
    }

    li a,
    p a {
      color: #005581;
    }

    h1 a,
    h2 a {
      text-decoration: none;
      color: #000;
    }

    .breakBefore {
      page-break-before: always;
    }

    .breakAfter {
      page-break-after: always;
    }

    .avoidBreakAfter {
      page-break-after: avoid;
    }

    h3 {
      font-size: 29px;
      margin-top: 42px;
      margin-bottom: 42px;
    }

    pre, code, kbd {
      line-height: initial;
      font-family:"Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
        "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    p,
    li {
      font-size: 18px;
      line-height: 1.5;
    }

    img {
      max-width: 100%;
    }

    img.cover {
      max-width: 75%;
      display:block;
      margin: 0 auto;
    }


  </style>
</head>
<body>
{% set licence = collections.epubDataObject["licencja-prawa-autorskie"]  %}
<main class="container">
  <article class="full_content">
    <img class="cover" src="https://mastodon-poradnik.pl/images/epub_cover.jpg" alt="" />
    <header>
      <hgroup style="text-align:center">
        <h1>Niezbyt zwięzłe wprowadzenie do Mastodona</h1>
      </hgroup>
    </header>
    <h1 class="breakBefore">Licencja i prawa autorskie</h1>
    {{ licence.templateContent|safe }}
    <h1 class="breakBefore">Wstęp</h1>
    {{ intro.templateContent|safe }}
    <h1 id="spis_tresci"><a href="#spis_tresci">Spis treści:</a></h1>
    <ul>
    {%- for questionSlug in orderedQuestionSlugs -%}
      {%- if questionSlug != 'wstep' -%}
      {%- set question = collections.questionDataObject[questionSlug] -%}
        <li>
          <a href="#{{ question.data.slug }}">{{ question.data.title }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
    </ul>

    {%- for questionSlug in orderedQuestionSlugs -%}
      {%- if questionSlug != 'wstep' -%}
      {%- set question = collections.questionDataObject[questionSlug] -%}
        <h1 id="{{ question.data.slug }}"><a href="#{{ question.data.slug }}">{{ question.data.title }}</a></h1>
        {{ question.templateContent|localizeLinks|safe }}
      {%- endif -%}
    {%- endfor -%}

  </article>
</main>
</body>
</html>