---
permalink: /czytaj/epub.json
---
[
  {%- for questionSlug in orderedQuestionSlugs -%}
  {%- set question = collections.questionDataObject[questionSlug] -%}
  {
    "title": "{{ question.data.title }}",
    "data": "{{ question.templateContent|localizeLinks|filterHtmlForEpub|safe }}"
  }{%- if not loop.last %},{% endif %}
{%- endfor -%}
]