---
title: Niezbyt zwięzłe wprowadzenie do Mastodona
permalink: /czytaj/
layout: base
---

{%- set intro = collections.questionDataObject["wstep"] -%}

<main class="container">
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/">Strona główna</a></li>
      <li>Niezbyt zwięzłe wprowadzenie do Mastodona</li>
    </ul>
  </nav>
  <article class="full_content">
    {{ intro.templateContent|safe }}
    <h1>Spis treści:</h1>
    <ul>
    {%- for questionSlug in orderedQuestionSlugs -%}
      {%- if questionSlug != 'wstep' -%}
      {%- set question = collections.questionDataObject[questionSlug] -%}
        <li>
          <a href="#{{ question.data.slug }}">{{ question.data.title }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
    </ul>

    {%- for questionSlug in orderedQuestionSlugs -%}
      {%- if questionSlug != 'wstep' -%}
      {%- set question = collections.questionDataObject[questionSlug] -%}
        <h1 id="{{ question.data.slug }}">{{ question.data.title }}</h1>
        {{ question.templateContent|safe }}
      {%- endif -%}
    {%- endfor -%}

  </article>
</main>