---
permalink: /czytaj/epub.json
---
{% set licence = collections.epubDataObject["licencja-prawa-autorskie"]  %}
[
  {
    "title": "Licencja i prawa autorskie",
    "data": "{{ licence.templateContent|filterHtmlForEpub|safe }}"
  },
  {%- for questionSlug in orderedQuestionSlugs -%}
  {%- set question = collections.questionDataObject[questionSlug] -%}
  {
    "title": "{{ question.data.title }}",
    "data": "{{ question.templateContent|localizeLinks|filterHtmlForEpub|safe }}"
  }{%- if not loop.last %},{% endif %}
{%- endfor -%}
]