---
title: Niezbyt zwięzłe wprowadzenie do Mastodona
permalink: /czytaj/
layout: base
---

{%- set intro = collections.questionDataObject["wstep"] -%}

<main class="container">
  <article class="full_content">
    <header>
      <hgroup>
      <h1>Niezbyt zwięzłe wprowadzenie do Mastodona</h1>
      <p>Data ostatniej modyfikacji:  {{ page.date|readableDate }}</p>
      </hgroup>
    </header>
    {{ intro.templateContent|safe }}
    <h1 id="spis_tresci"><a href="#spis_tresci">Spis treści:</a></h1>
    <ul>
    {%- for questionSlug in orderedQuestionSlugs -%}
      {%- if questionSlug != 'wstep' -%}
      {%- set question = collections.questionDataObject[questionSlug] -%}
        <li>
          <a href="#{{ question.data.slug }}">{{ question.data.title }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
    </ul>

    {%- for questionSlug in orderedQuestionSlugs -%}
      {%- if questionSlug != 'wstep' -%}
      {%- set question = collections.questionDataObject[questionSlug] -%}
        <h1 id="{{ question.data.slug }}"><a href="#{{ question.data.slug }}">{{ question.data.title }}</a></h1>
        {{ question.templateContent|safe }}
      {%- endif -%}
    {%- endfor -%}

  </article>
</main>