---
permalink: /
layout: base
---

<main class="container">
    <nav aria-label="breadcrumb">
    <ul>
      <li>Strona główna</li>
    </ul>
  </nav>
  <article>
    {# <header>
      {% include "partials/search.njk" %}
    </header> #}
    <h1>Cześć!</h1>
    <p>Niniejsze wprowadzenie na temat sieci społecznościowej Mastodon możesz przeczytać na kilka sposobów. Wybierz ten, który odpowiada Ci najbardziej:</p>
    <ul>
      <li><a href="/pytania/">Pojedyncze pytania</a> - możesz zacząć od dowolnego pytania i łatwo przechodzić między kolejnymi</li>
      <li><a href="/czytaj/">Wszystko na jednej stronie</a> - jak sama nazywa wskazuje. Ale ta strona jest trochę duża :)</li>
      <li>pliki PDF i EPUB niebawem</li>
      {# <li><a>Plik HTML do pobrania offline</a> - niebawem</li>
      <li><a>Plik PDF do pobrania offline</a> - niebawem</li>
      <li><a>Plik EPUB do pobrania offline</a> - niebawem</li> #}
    </ul>
  </article>
</main>