---
permalink: /
layout: base
---

<main class="container">
    <nav aria-label="breadcrumb">
    <ul>
      <li>Strona główna</li>
    </ul>
  </nav>
  <article>
    {# <header>
      {% include "partials/search.njk" %}
    </header> #}
    <h1>Cześć!</h1>
    <p>Niniejsze wprowadzenie na temat sieci społecznościowej Mastodon możesz czytać na kilka sposobów. Wybierz ten, który odpowiada Ci najbardziej:</p>
    <ul>
      <li><a href="/pytania/">Pytania i odpowiedzi</a> - możesz zacząć od dowolnego pytania i łatwo przechodzić między kolejnymi</li>
      <li><a href="/czytaj/">Wszystko na jednej stronie</a> - jak sama nazwa wskazuje. Ale ta strona jest trochę duża :)</li>
      <li><a href="/epub">Plik EPUB do pobrania</a></li>
      <li><a href="/pdf">Plik PDF do pobrania</a></li>
    </ul>
  </article>
</main>