<nav class="container-fluid">
  <ul>
    <li>
      <a class="skip-localizing" href="/" aria-label="Powrót do strony głównej">
        {% include "svg/logo.svg" %}
        <strong>{{ siteConfig.translation.title }}</strong>
      </a>
    </li>
    <li>
      
    </li>
  </ul>
  <ul>
    <li>
      <button class="contrast theme-switcher">Włącz tryb ciemny</button>
    </li>
    <li>
      <a href="https://github.com/lwojcik/mastodon-poradnik" aria-label="Repozytorium poradnika w serwisie GitHub">
        {% include "svg/github.svg" %}
        <span>GitHub</span>
      </a>
    </li>
  </ul>
</nav>
