{% set questionDataArray = collections.questionDataArray %}	
{% set currentQuestionIndex = questionDataArray|findIndexBySlug(slug) %}
{% set previousQuestion = questionDataArray|getByIndex(currentQuestionIndex - 1) %}
{% set nextQuestion = questionDataArray|getByIndex(currentQuestionIndex + 1) %}


<div class="navigation">
{% if previousQuestion %}
  <div class="previous">
    <a href="{{ previousQuestion.url }}">{{ previousQuestion.data.title }}</a>
  </div>
{% endif %}

<div class="contents">
  <a href="/pytania/">Spis pytań</a>
</div>

{% if nextQuestion %}
  <div class="next">
    <a href="{{ nextQuestion.url }}">{{ nextQuestion.data.title }}</a>
  </div>
{% endif %}
</div>