{%- set search = siteConfig.search -%}
<form method="get" id="ddgSearch" action="{{ search.action }}">
  <input type="hidden" name="sites" value="{{ search.domain }}"/>
  <input type="text" name="q" placeholder="{{ search.placeholder }}" aria-label="{{ search.label }}"/>
  <button type="submit">{{ search.submit }}</button>
</form>
<p>Obsługiwane przez <a rel="external noopener noreferrer" href="{{ search.engine.url }}" target="_blank">{{ search.engine.name }}</a>